body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
}

/* HERO SECTION */
.hero-section{
    background-color: #1F2937;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 0;
}

.nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav > h3 {
    font-size: 24px;
}

a, li{
    text-decoration: none;
    list-style: none;
    color: white;
}

.hero-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-texts-button > h2 {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.hero-texts-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}





.quote-section{
    background-color: blue;
    color:#1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote{
    font-size: 20px;
    font-style: italic;
}

.author{
    font-size: 16px;
}




/* SIGNUP AND FOOTER SECTION*/
.signup-section{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
}

.cta-section{
    background-color: #3882F6;
    color: white;
    width: 140vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 30px;
}

span{
    font-size: 36px;
    font-weight: bold;
}

.items > p {
    font-size: 20px;
    padding-top: 3px;
    margin: 0;
}

.signup-button{
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    width: 30vh;
    height: 7vh;
    font-size: 15px;
    border-color: white;
    border-style: solid;
    
}


.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    width: 100%;
    padding: 40px;
}